<form class="" role="form">

    <fieldset>
        <label class="col-md-4 control-label">Type:</label>
        <div class="col-md-8">
            <label class="select">
                <select name="valueType" #valueType class="input-sm" [(ngModel)]="mathStaticProperties.valueType"
                        style="border-radius: 4px !important;">
                    <option value="BOOLEAN" selected="selected">Boolean</option>
                    <option value="INTEGER">Integer</option>
                </select> <i></i>
            </label>

        </div>
        <br/>
        <br/>
        <div class="form-group" *ngIf="valueType.value == 'INTEGER'">
            <label class="col-md-4 control-label">Value:</label>
            <div class="col-md-8">
                <input type="number" min="1" max="99999" name="valueInt" class="form-control" placeholder="Value"
                       [(ngModel)]="mathStaticProperties.value">
            </div>
        </div>
        <div class="form-group" *ngIf="valueType.value == 'BOOLEAN'">
            <label class="col-md-4 control-label">Value:</label>
            <div class="col-md-8">
                <label class="select">
                    <select name="valueBool" class="input-sm" [(ngModel)]="mathStaticProperties.value"
                            style="border-radius: 4px !important;">
                        <option value="0" selected="selected">0</option>
                        <option value="1">1</option>
                    </select> <i></i>
                </label>
            </div>

            <!--<label class="col-md-4 control-label">Value:</label>-->
            <!--<div class="col-md-8">-->
            <!--<input type="number" min="0" max="99999" name="topicName" class="form-control" placeholder="Value"-->
            <!--[(ngModel)]="mathStaticProperties.value" type="text">-->
            <!--</div>-->
        </div>

        <button type="submit" (click)="emitApplyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
