<form class="" role="form">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <fieldset>

            <div class="row">
                <legend>GRE Tunnel

                    <div class="btn btn-success" (click)="addNewRow(null)"
                         style="cursor: pointer; margin-top: -12px;float: right;">
                        <i class="button-icon fa fa-plus"></i>
                    </div>
                </legend>
            </div>

            <form [formGroup]="networkCards" style="height:300px;overflow-y:auto">
                <div formArrayName="itemRows">
                    <div *ngFor="let itemrow of networkCards.controls.itemRows.controls; let i=index"
                         style="width: 90% !important; padding-left: 6% !important;"
                         [formGroupName]="i">
                        <div class="row">
                            <h5>GRE #{{ i + 1 }}</h5>
                            <div *ngIf="networkCards.controls.itemRows.controls.length > 0"
                                 class="btn btn-danger" (click)="deleteRow(i)"
                                 style="cursor: pointer; margin-top: -36px;float: right;">
                                <i class="button-icon fa fa-minus"></i>
                            </div>
                        </div>
                        <!-- <span></span> -->
                        <div class="form-group">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Key:</label>
                                <div class="col-md-8">
                                    <input name="key" formControlName="itemKey" class="form-control"
                                           placeholder="Key" type="text">
                                </div>
                            </div>

                            <br/>
                            <br/>
                            <div class="form-group">
                                <label class="col-md-4 control-label">target:</label>
                                <div class="col-md-8">
                                    <input formControlName="itemIp" [placeholder]="networkDiagramMainServerInterfaceProperties.mainServerInterFaceIp.split('.')[0] + '.'
                                    + networkDiagramMainServerInterfaceProperties.mainServerInterFaceIp.split('.')[1] + '.'
                                    + networkDiagramMainServerInterfaceProperties.mainServerInterFaceIp.split('.')[2] + './XX'"
                                           class="form-control">
                                </div>
                            </div>
                            <br/>

                        </div>
                        <br/>
                    </div>
                </div>
            </form>
            <section>
                <button type="submit" (click)="applyChange()" class="btn btn-primary"
                        style="background-color: #16a085;">
                    Apply
                </button>
            </section>
        </fieldset>
    </article>

</form>
