<form class="" role="form">

    <fieldset>
        <label class="col-md-4 control-label">Operation:</label>
        <div class="col-md-8">
            <label class="select">
                <select name="valueType" #valueType class="input-sm" [(ngModel)]="mathCompareProperties.operation"
                        style="border-radius: 4px !important;">
                    <option value="==" selected="selected"> A = B </option>
                    <option value=">"> A &gt; B </option>
                    <option value="> ="> A &gt;= B </option>
                    <option value="<"> A &lt; B </option>
                    <option value="< ="> A 	&lt;= B </option>
                </select> <i></i>
            </label>

        </div>

        <button type="submit" (click)="emitApplyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
