<div id="content">

    <div>
        <h2>

            <button style="background-color: #16A085 !important;" class="btn btn-success float-right"
                    routerLink="events/new">
                <span class="fa fa-plus"></span>
                <span>Create a new event</span>
            </button>
        </h2>
        <!-- <jhi-alert></jhi-alert> -->
        <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th style="text-align:center" jhiSortBy="name">
                        <span>Name</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="text-align:center" jhiSortBy="occurs">
                        <span>Occurs Time</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="text-align:center" jhiSortBy="status">
                        <span>Status</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">
                        <span> Actions &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; </span>
                    </th>
                </tr>
                </thead>
                <tbody *ngIf="events">
                <tr *ngFor="let event of events; trackBy: trackIdentity">
                    <td style="text-align:center;vertical-align: middle;">
                        {{event.name}}
                    </td>
                    <td style="text-align:center;vertical-align: middle;">{{event.numberOfOccur}}</td>



                    <!--<td style="text-align:center;vertical-align: middle;">{{event.status}}</td>-->
                    <td style="text-align:-moz-center;vertical-align: middle;">
                        <div id="toggleEventStatus{{event.id}}" [ngClass]="(event.status === 'down')? 'btn_play pause' : 'btn_play play'" (click)="toggleEventStatus(event.id)">
                            <span class="bar bar-1"></span>
                            <span class="bar bar-2"></span>
                        </div>

                    </td>

                    <td class="text-right;" style="vertical-align: middle;vertical-align: inherit;">
                        <div class="btn-group flex-btn-group-container" style="float: right;">
                            <button type="submit" class="btn btn-info btn-sm" (click)="viewEvent(event.id)">
                                <span class="fa fa-eye"></span>
                                <span class="hidden-md-down">View</span>
                            </button>
                            <button type="submit" class="btn btn-primary btn-sm" (click)="editEvent(event.id)">
                                <span class="fa fa-pencil"></span>
                                <span class="hidden-md-down">Edit</span>
                            </button>
                            <button type="submit" class="btn btn-danger btn-sm" (click)="deleteEvent(event.id)">
                                <span class="fa fa-remove"></span>
                                <span class="hidden-md-down">Delete</span>
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="events">
            <!-- <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div> -->
        </div>
    </div>


</div>

