<form class="" role="form">

    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">Server:</label>
            <div class="col-md-8">
                <label class="select">
                    <select name="serverId" class="input-sm " required [(ngModel)]="deleteBridgePatchPeerPortProperties.serverId"
                            style="border-radius: 4px !important;">
                        <option selected="selected" disabled>Select Server</option>
                        <option *ngFor="let server of servers" [ngValue]="server.id.toString()">{{ server.name }}
                        </option>
                    </select> <i></i>
                </label>
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Bridge1:</label>
            <div class="col-md-8">
                <input name="Bridge1Name" class="form-control" placeholder="Bridge1 Name"
                       [(ngModel)]="deleteBridgePatchPeerPortProperties.bridgeName1" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Bridge2:</label>
            <div class="col-md-8">
                <input name="Bridge2Name" class="form-control" placeholder="Bridge2 Name"
                       [(ngModel)]="deleteBridgePatchPeerPortProperties.bridgeName2" type="text">
            </div>
        </div>
        <br/>
        <br/>


        <button type="submit" (click)="emitApplyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
